
/* ---------COMMON STYLES--------------- */

body {
  margin: 15px;
}

h1 {
  margin: 0px auto 15px;
  text-align: center;
}

p {
  margin: 0px 0px;
}

/* ----------HEADER----------------- */

header {
  position: sticky;
  top: 0px;
  background-color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: 2em;
}

.menuitem {
  text-decoration: none; 
  border: 1px solid black;
  padding: 5px;
  background-color: azure;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  margin-right: 15px;
}

.userinfo {
  margin-right: 15px;
  text-align: center;
}

/* ----LOGIN / SIGNUP / ADDQUESTION / ADDANSWER FORM--------- */

.forma {
  background-color: rgb(209, 243, 243);
  color: blue;
  width: 400px;
  border: 1px solid black;
  /* border-radius: 20px; */
  padding: 10px;
  margin: 150px auto;
}

.forma h1 {
  text-align: center;
  margin: 10px;
}

.forma input, textarea {
  width: 95%;
  /* display: block; */

  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  color: white;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  border-radius: 10px;
  outline: none;
}

.forma [type='submit'] {
  display: block;
  margin: 15px auto 0px;
  padding: 5px;
}

.error {
  color: red;
}

/* -------------FILTERS--------------------------- */

.filters {
  padding: 15px;
  text-align: center;
}

.filters select {
  margin: 0px 5px;
}

/* ----------ADD QUESTION/ANSWER------------------- */

.add {
  padding: 5px;
  display: block;
  margin: 5px auto;
}

/* -------------QUESTIONS / ANSWERS------------------------- */

.posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.selected {
  background-color: rebeccapurple;
}

.post {
  border: 1px solid black;
  padding: 15px;
}

.info {
  border: 1px solid black;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  background-color: azure;
}

.users {
  border: 1px solid black;
  display: block;
  width: 350px;
  margin:50px auto;
  padding: 25px;
}

/* -----------FOOTER--------------- */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: center;
  }
  
  @media only screen and (max-width: 768px) {
    .flex {
      flex-direction: column;
      gap: 20px;
    }
    .menu {
      justify-content: space-around;
    }
    .logo {
      text-align: center;
    }
    .login {
      text-align: center;
    }
  }
