/* -----------FOOTER--------------- */

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 3.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;            /* Footer height */
    text-align: center;
    }   

/* -------------QUESTIONS------------------------- */

.question {
  border: 1px solid black;
  padding: 15px;
}

/* -----------ANSWERS------------------ */

.answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.answer {
    border: 1px solid black;
    padding: 15px;
}

/* ----------HEADER----------------- */

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 25px;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
